<div class="jumbotron">
  <h1 class="display-4">Tela de cadastro</h1>
  <p class="lead">Insira um pai e um filho.</p>

  <head>
    <meta charset="utf-8" />
  </head>


  <p ng-if="vm.error" class="text-danger text-center">{{ vm.error }}</p>
  <form name="cadastroForm">
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInput">Nome</label>
        <input ng-model="vm.pai.nome" md-maxlength="20" class="form-control mb-5" id="inlineFormInput"
          placeholder="Nome do Pai">
      </div>

      <div class="col-auto">
        <label class="sr-only" for="inlineFormInput">Filho</label>
        <input ng-model="vm.filho.nome" md-maxlength="20" type="text" class="form-control mb-5" id="inlineFormInput"
          placeholder="Nome do Filho">
      </div>

      <div class="col-auto float-right">
        <button class="btn btn-primary" class="nav-link" ui-sref="pai"> Voltar </button>
        <button type="reset" class="btn btn-warning" type="reset" ng-click="vm.limparPai()"> Limpar </button>
        <button class="btn btn-success" ng-click="vm.cadastrarPai()"> Salvar </button>
      </div>

  </form>

</div>