<div class="jumbotron">
  <h1 class="display-4">Pais</h1>
  <p class="btn btn-primary float-right" role="button" value="Cadastrar Pai" ui-sref="cadastro">Inserir novo</p><br>

  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pai</th>
        <th scope="col">Filho</th>
      </tr>
    </thead>
    
    <tbody ng-repeat='pai in vm.pai'>
      <tr>
        <td><b>{{pai.id}}</b></td>
        <td>{{pai.nome}}</td>
        <td>{{pai.filho}}</td>
        <td class="float-right">
          <input class="btn btn-success btn-sm" role="button" value="Editar" ui-sref="cadastro({id: pai.id})">
          <input class="btn btn-danger btn-sm" role="button" value="Excluir" ng-click="vm.excluir(pai.id)">
        </td>
      </tr>
    </tbody>
  </table>



</div>